:root {
    --main-color: #F7A100;
    --txt-color: #333;
    --btn-color: #0071B3;
    --black-color: #000;
    --white-color: #fff;
    --footer-color: #ededed;
    --highlight-color: #999;
    --container-bg: #E6F2F7;
    --heart-color: red;
}

@font-face {
    font-family: main-font;
    src: url(../img/ProximaNovaFont.woff);
}

* {
    box-sizing: inherit;
    border: 0 solid;
    margin: 0;
    padding: 0;
    font-family: main-font;
}

body {
    line-height: 1.15;
}

/* Navigatie */
.site-header {
    position: relative;
    background-color: var(--main-color);
    display: block;
    margin-left: auto;
    padding: 0 0.5rem;
    max-width: 100%;
    margin-right: auto;
    flex-shrink: 0;
}

.nav-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 60px;
    max-width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.nav-logo {
    align-items: center;
    display: flex;
}

.hamburger-menu {
    margin: 0;
    padding: 0;
    height: 60px;
    display: flex;
    list-style: none;
}

.hamburger-menu li {
    margin-right: 0.5em !important;
    float: left;
    height: 100%;
    margin: 0;
    position: relative;
}

.hamburger-menu li a,
.right-nav li a {
    height: 100%;
    position: relative;
    text-align: left;
    padding: 0 12px;
    line-height: 60px;
    max-width: 180px;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.menu-icon {
    width: 1.5em;
    height: 1.5em;
}

.icon-text {
    display: block;
    font-size: .75rem;
    line-height: 1rem;
    padding-top: 0.25rem;
    text-decoration: none;
}

.menu-2 {
    display: none;
    visibility: hidden;
}

.right-nav {
    margin: 0;
    padding: 0;
    height: 60px;
    display: flex;
    list-style: none;
}

.right-nav li {
    margin-left: .5rem;
    float: left;
    margin: 0;
    position: relative;
}

.right-nav li a span {
    display: none;
    visibility: hidden;
}

.hidden {
    visibility: hidden;
    display: none;
}

.logo {
    margin: 8px 0;
    display: inline-block;
    height: 32px;
    width: 90px;
    cursor: pointer;
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
}

/* Huis fotos */
.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #0071B3; */
}

.main-container div {
    width: 100%;
    margin: 10px;
    margin-top: 25px;
    /* background-color: red; */
}

.main-container div ul {
    display: grid;
    list-style-type: none;
}

.main-container ul li:nth-child(2),
.main-container ul li:nth-child(3) {
    display: none;
    visibility: hidden;
}

.main-container ul li a img {
    width: 100%;
    height: auto;
}

iframe {
    width: 100%;
    height: auto;
}


/* Huis informatie en kenmerken */
.info-container div {
    display: block;
}

.info-container div ul {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.info-container div ul li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.info-container div ul li a {
    text-decoration: none;
}

.info-container div ul li a .fa-regular {
    font-size: 1.5em;
    color: var(--black-color);
}

.info-container div ul li ion-icon {
    font-size: 1.5em;
}

.info-container div ul li span {
    line-height: 1.5em;
    margin-left: 10px;
    font-weight: 100;
}

.info-container div ul li:first-child {
    margin-left: 0px;
}

.info-container div ul li::before {
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    top: -1.3px;
    z-index: -1;
    font-size: 1.5em;
    height: var(--height, 0);
    color: var(--heart-color);
    overflow: hidden;
    transition: .5s ease-in-out;
}

.info-container div ul li::before {
    content: '\f004';
    color: var(--heart-color);
}

.info-container div ul li:hover::before {
    height: var(--height, 0);
}

.info-container {
    margin: 10px;
    width: auto;
    color: var(--txt-color);
    display: grid;
    /* background-color: red; */
}

.info-container ul,
#readBtn {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--container-bg)
}

.info-container div h1,
.info-container div h1 span:nth-child(2) {
    width: 100%;
    display: flex;
    line-height: 2rem;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.info-container div h1 span:nth-child(2) {
    font-size: .7em;
    line-height: 1.5em;
    color: var(--highlight-color);
    font-weight: 100;
}

.info-container div h1 span:nth-child(2) a {
    color: var(--btn-color);
    text-decoration: none;
}

.info-container div p {
    margin-top: 10px;
    font-size: .9em;
}

/* .info-container div:nth-child(2) {
    margin-top: 15px;
} */

.info-container div p span:first-child {
    font-size: 1.5em !important;
    font-weight: 900;
}

.info-container div h1 span:last-child {
    font-size: .9em;
}

.info-container div h1 span:last-child a {
    font-size: .75em;
    color: var(--btn-color);
    text-decoration: none;
    padding-left: 10px;
    font-weight: 100;
}

#more {
    display: none;
}

#readBtn {
    margin-top: 10px;
    text-align: left;
    font-size: 1em;
    color: var(--btn-color);
    background: none;
    outline: none;
    cursor: pointer;
}

.extra-info {
    width: 100%;
}

.extra-info article {
    background-color: var(--btn-color);
    border-radius: 10px;
    width: auto;
    padding: 10px;
    color: var(--white-color);
}

.extra-info h2 {
    font-size: 1.35em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.extra-info dl span {
    font-size: 1.15em;
    font-weight: 900;
}

.extra-info dl dt {
    font-weight: 900;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: .9em;
}

.extra-info dl dd {
    width: auto;
    background: var(--white-color);
    padding: 5px;
    border-radius: 5px;
    color: var(--black-color);
}

.extra {
    visibility: hidden;
}

.extra-info .extra {
    margin: 0px;
}

/* Modal imgs */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--txt-color);
    background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 900px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 900px;
    text-align: center;
    color: var(--main-color);
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: var(--white-color);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: var(--highlight-color);
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 90%;
    }
}

/* Footer */
footer {
    background-color: var(--footer-color);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid var(--main-color);
}

footer nav {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1em;
}

footer nav div {
    padding-left: 10px;
    padding-top: 20px;
}

footer nav div span {
    font-weight: 900;
    padding: 5px;
}

footer nav div ul {
    padding: 5px;
    list-style: none;
}

footer nav div ul li{
    padding-top: 7px;
    padding-bottom: 7px;
}

footer nav div ul li a{
    color: var(--btn-color);
    text-decoration: none;
}

/* Media querys */
@media screen and (min-width: 550px) {
    .menu-1 {
        display: none;
        visibility: hidden;
    }

    .menu-2 {
        display: block;
        visibility: visible;
    }

    span.icon-text {
        font-size: 16px;
    }

    .right-nav li a span {
        display: block;
        visibility: visible;
    }

    .main-container div ul {
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "foto map"
            "foto1 map";
    }

    .main-container ul li:first-child {
        grid-area: foto;
    }

    .main-container ul li:nth-child(2) {
        display: block;
        visibility: visible;
        grid-area: foto1;
    }

    .main-container ul li:last-child {
        grid-area: map;
    }

    .main-container ul li a img {
        width: 100%;
        height: 100%;
    }

    iframe {
        height: 100%;
    }

    .extra {
        visibility: hidden;
        display: block;
    }

    footer nav {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }
}

@media screen and (min-width: 750px) {
    .info-container {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 15px;
        padding: 10px;
        margin-bottom: 25px;
        grid-template-areas: "omschrijving kenmerk1"
            "kenmerk2 kenmerk2";
    }

    .modal-content {
        width: 80%;
    }

    .extra {
        visibility: hidden;
        display: none;
    }

    .info-container div:first-child {
        grid-area: omschrijving;
    }

    .one {
        grid-area: kenmerk1;
    }

    .two {
        grid-area: kenmerk2;
    }

    .info-container div:first-child {
        width: 100%;
        height: auto;
        display: block;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .info-container div:last-child {
        margin-top: 0px;
    }

    #more {
        display: block;
    }

    #readBtn {
        display: none;
        visibility: hidden;
    }
}

@media screen and (min-width: 950px) {
    footer nav {
        grid-template-columns: repeat(4, 1fr);
    }

    footer nav div {
        padding-top: 0px;
    }
}

@media screen and (min-width: 1050px) {
    .extra {
        display: block;
    }

    .menu-1 {
        display: none;
        visibility: hidden;
    }

    .main-container div {
        width: 90%;
    }

    .menu-2 {
        display: block;
        visibility: visible;
    }

    .nav-container {
        max-width: 984px;
    }

    .logo img {
        height: 36px;
    }

    .main-container div ul {
        grid-gap: 10px;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: "foto foto1 map"
            "foto foto2 map";
    }

    .main-container ul li:nth-child(3) {
        display: block;
        visibility: visible;
        grid-area: foto2;
    }

    .info-container {
        width: 90%;
        /* max-width: 1600px; */
        margin: auto;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 30px;
        padding: 10px;
        margin-bottom: 15px;
        grid-template-areas: "omschrijving kenmerk1 kenmerk2";
    }

    .extra {
        display: block;
        visibility: hidden;
    }

    .extra-info .extra {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #readBtn {
        display: none;
        visibility: hidden;
    }

    .info-container div:first-child {
        grid-area: omschrijving;
    }

    .one {
        grid-area: kenmerk1;
    }

    .two {
        grid-area: kenmerk2;
    }

    .info-container div:first-child {
        width: 100%;
        height: auto;
        display: block;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .info-container div:last-child {
        margin-top: 0px;
    }
}